@font-face {
  font-family: 'Exo 2.0';
  src: url(../fonts/Exo2.0-Thin.otf);
  font-display: swap;
}

@font-face {
  font-family: 'Trebuchet MS';
  src: url(../fonts/trebuc.ttf) format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trebuchet MS';
  src: url(../fonts/trebucbd.ttf) format('truetype');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}